# Python virtual environment (if using venv)
.venv/
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# dbt compiled artifacts
real_estate_dbt/target/

# Logs
real_estate_dbt/logs/

# dev yaml files
experiments/dev

# config
src/config.py

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
*.idea/
*.vscode/

# nix
flake.nix
flake.lock

# Secrets (never commit passwords)
profiles.yml
